div#grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-flow: row wrap;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 100px;
  float: left;

}
.col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
div.container {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
}
.container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 200px;
  height: 200px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 1% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.navbar-fixed-bottom{
    background-color: transparent;
    height: 60px; /* must not use percents here, must be 60px*/
}

#content {
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    overflow:auto;
    padding-bottom: 15px;
}

#content .row{
    border-bottom: 2px solid #d3d3d3;
    background-color: gray;
    margin: 50px 0px 0px 0px;
}
